{% load admin_static bootstrapped_goodies_tags %}
{% load custom_filter %}{% load custom_tag %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Globe Nocturne</title>
        
        <link rel="shortcut icon" href="{% static 'images/blackmarble_favicon.ico' %}">
        
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- MetisMenu CSS -->
        <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'bootstrap/css/sb-admin-2.css' %}" rel="stylesheet">
        
        <!-- Leaflet -->
        <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        
        <!-- jQuery -->
        <script src="{% static 'jquery/jquery-1.11.2.min.js' %}"></script>
        
        <!-- Leaflet -->
        <script src="{% static 'leaflet/leaflet.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        
        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'bootstrap/js/sb-admin-2.js' %}"></script>        
        
        <style>
            body{
                padding: 0;
                margin: 0;
            }
            
            .wrapper {
                height: 100%;
            }
          
            html, body, #map{
              height: 100%;
            }
            
            .navbar-header {
                margin-left: 200px;
            }
            
            .left-side-panel {
                padding: 0px;
            }
            
            .side-bar .panel-title{
                font-size: 14px;
                font-weight: bold;
            }
            .panel {
                margin-bottom: 2px;
            }
            
            .panel-heading  a{
                color:rgb(51,51,51);
                text-decoration: none;
            }

            .panel-heading .accordion-toggle:after {
                font-family: 'FontAwesome';
                content: "\f068";
                float: right; 
            }
            .panel-heading .accordion-toggle.collapsed:after {
                content: "\f078";
            }
            
            .leaflet-container {
                padding: 0px;
            }
            
            
            #specialbigmap {
                height: 800px;
            }
            
            path.line {
              fill: none;
              stroke: #666;
              stroke-width: 1.5px;
            }

            path.area {
              fill: #e7e7e7;
            }

            .axis {
              shape-rendering: crispEdges;
            }

            .x.axis line {
              stroke: #fff;
            }

            .x.axis .minor {
              stroke-opacity: .5;
            }

            .x.axis path {
              display: none;
            }

            .y.axis line, .y.axis path {
              fill: none;
              stroke: #000;
            }
        </style>
    </head>

    <body>
        <div id="wrapper" class="wrapper">
            <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% setting 'ROOT_APP_URL' %}/home/">Globe Nocturne</a>
            </div>
            </nav>
            
            <div class="wrapper">
                <!-- Left Side Panel -->
                <div class="col-sm-3 col-md-4 col-lg-3 left-side-panel">
                    <!-- Layer Control -->
                    <div id="panel-dataprop" class="panel panel-default root-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseLayerControl" class="accordion-toggle">
                                    <img src="{% static 'images/icon_layer.png' %}" width="21px" height="21px">&nbsp; Layer Control
                                </a>
                            </h4>
                        </div>
                        <div id="collapseLayerControl" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <label>Year</label>
                                            <select id="sel-layer-year" class="form-control">
                                                {% for y in satyears %}
                                                    <option value="{{y.year}}">{{y.year}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <label>Satellite</label>
                                            <select id="sel-layer-sat" class="form-control">
                                                {% for s in satellites %}
                                                    <option value="{{s.name}}">{{s.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <label>Product</label>
                                            <select id="sel-layer-product" class="form-control">
                                                {% for p in dmsp_products %}
                                                    <option value="{{p.name}}">{{p.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <br/>
                                    <label>Dataset</label>
                                    <select id="sel-layer-dataset" class="form-control">
                                        <option>------</option>
                                        {% for d in dmsp_datasets %}
                                            <option value="{{d.wms_layer}}">{{d.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <br/>
                                    <button type="button" id="btn-render-dmsp" class="btn btn-warning btn-lg btn-block disabled">Load Imagery</button>
                                    <br/>
                                    <label>Transparency: <span id="wms-opacity-value">0.8</span></label>
                                    <input id="wms-opacity" type="range" min=0 max=1 step=0.1 value=1>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Country Summary -->
                    <div id="panel-dataprop" class="panel panel-default root-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseCountrySummary" class="accordion-toggle">
                                    <i class="fa fa-bar-chart fa-lg"></i> Country Summary
                                </a>
                            </h4>
                        </div>
                        <div id="collapseCountrySummary" class="panel-collapse collapse in">
                            <div class="panel-body" id="linechart-sol">
                                <!--<img src="{% static 'images/US_sol_line.png' %}" width="300px" height="200px">-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Leaflet Map -->
                <div id="map" class="col-sm-9 col-md-8 col-lg-9"></div>
            </div>
        </div>

        <!-- Bottom JS -->
        <script src='{% static "jquery.cookie/jquery.cookie.js" %}'></script>
        <script src='{% static "d3-3.5.5/d3.min.js" %}'></script>
        
        <script>
            // Initial selections
            $("#sel-layer-year option[value='2010']").attr('selected', 'selected');
            $("#sel-layer-sat option[value='F18']").attr('selected', 'selected');
            $("#sel-layer-product option[value='Stable lights']").attr('selected', 'selected');
            $("#sel-layer-dataset option[value='F182010.v4c_web.stable_lights.avg_vis.lzw.tif']").attr('selected', 'selected');
            $("#wms-opacity").val(0.8);
        
            //function world_countries_map_init(map,options){
            var mapCRS = L.CRS.EPSG4326;
            
            var map = L.map('map',{
                center: [39.870808, -98.791620],
                zoom:4,
                //crs: mapCRS,
                minZoom: 3,
                maxZoom: 11,
            })
                            
            var baseLayer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
            });
            
            baseLayer.addTo(map);
            
            
            var basemaps = {
                'Base Map': baseLayer,
            }
            
            var previous_layer = "F182010.v4c_web.stable_lights.avg_vis.lzw.tif";
            
            
            var wmsLayerDMSP = L.tileLayer.wms("http://mapserver.ngdc.noaa.gov/cgi-bin/public/gcv4/",{
                version: '1.3.0',
                format: 'image/png',
                transparent: true,
                layers: 'F182010.v4c_web.stable_lights.avg_vis.lzw.tif',
                opacity: '0.6',
                crs: mapCRS,
            }).addTo(map);
            
            
            // Create layer control
            
            //layercontrol = L.control.layers(basemaps,layers).addTo(map);

            // Opacity slider
            $("#wms-opacity").change(function(){
                var current_layer = $("#sel-layer-dataset option:selected").val();
                $("#wms-opacity-value").html(this.value);
                wmsLayerDMSP.setOpacity(this.value);
            });
            
            /*
            var dataurl = '{% url "worldborderdata" %}';
            $.getJSON(dataurl, function (data) {
                L.geoJson(data).addTo(map);
            });       
            */
                
            //}
            
            /*
            var popup = L.popup(
                    {
                        "closeButton":false,
                        "maxWidth": 10,
                    }
                )
                .setLatLng([41.889666,-87.622226])
                .setContent("DN: 61")
                .openOn(map);
            */
            function select_dataset(){
                var year = $("#sel-layer-year option:selected").text();
                var sat = $("#sel-layer-sat option:selected").text();
                var product = $("#sel-layer-product option:selected").text();
                var dataset = year + "-" + sat + "-" + product;
                var sel_dataset = 0;
                $("#sel-layer-dataset option:selected").removeAttr("selected"); //mobile workaround
                $("#sel-layer-dataset option").each(function() {
                    if($(this).text() == dataset) {
                        $(this).attr('selected', 'selected');
                        sel_dataset = 1;
                        return false;
                    }                        
                });
                if (sel_dataset == 0){
                    $("#sel-layer-dataset option:first").attr('selected', 'selected');
                    $("#btn-render-dmsp").addClass('disabled');
                }
                else {
                    if ($("#btn-render-dmsp").hasClass('disabled')){
                        $("#btn-render-dmsp").removeClass('disabled');
                    }
                }
            }
        
            $("#sel-layer-year").change(function(){select_dataset();});
            $("#sel-layer-sat").change(function(){select_dataset();});
            $("#sel-layer-product").change(function(){select_dataset();});
            $("#sel-layer-dataset").change(function(){
                if($("#sel-layer-dataset option:selected").index()>0){
                    if ($("#btn-render-dmsp").hasClass('disabled')){
                        $("#btn-render-dmsp").removeClass('disabled');
                    }
                }
                else{
                    $("#btn-render-dmsp").addClass('disabled');
                }
            });
            $("#btn-render-dmsp").click(function(){
                add_layer = $("#sel-layer-dataset option:selected").val();
                if (add_layer !== previous_layer){
                    wmsLayerDMSP.setParams({layers:add_layer});
                    previous_layer = add_layer;
                /*
                    source.removeSubLayer(previous_layer);
                    previous_layer = add_layer;
                    source.addSubLayer(add_layer);
                    source.addTo(map);
                    //layercontrol.addOverlay(source.getLayer($("#sel-layer-dataset option:selected").val()),$("#sel-layer-dataset option:selected").text());
                */
                }
            });
            
            // Dealing with Events
            var popup = L.popup();
            
            function onMapClick(e){                    
                var csrftoken = $.cookie('csrftoken');
                var url='{% url "url_get_country" %}';
                $.ajax({
                    url : url, // the endpoint
                    type : "POST", // http method
                    data : {
                        latlng : e.latlng.toString(),
                        csrfmiddlewaretoken: csrftoken,
                    }, // data sent with the delete request
                    success : function(json) {
                        console.log("get country successful!");
                        console.log(json.data);
                        popup_content = "Current lat,lng: " + e.latlng.toString() + "<br/>Current country: " + json.country;
                        popup
                        .setLatLng(e.latlng)
                        .setContent(popup_content)
                        .openOn(map);
                        
                        var parse = d3.time.format("%b %Y").parse;
                        var data = jQuery.parseJSON(json.data);
                        data.forEach(function(d){
                            d.year = new Date(d.year, 0);
                            d.sol = +d.sol;
                        });

                        // Line chart of SOL
                        var margin = {top: 10, right: 10, bottom: 10, left: 10},
                            width = 350 - margin.left - margin.right,
                            height = 400 - margin.top - margin.bottom;

                        // Scales and axes. Note the inverted domain for the y-scale: bigger is up!
                        var x = d3.time.scale().range([0, width]),
                            y = d3.scale.linear().range([height, 0]),
                            xAxis = d3.svg.axis().scale(x).tickSize(-height).tickSubdivide(true),
                            yAxis = d3.svg.axis().scale(y).ticks(4).orient("right");

                        // An area generator, for the light fill.
                        var area = d3.svg.area()
                            .interpolate("monotone")
                            .x(function(d) { return x(d.year); })
                            .y0(height)
                            .y1(function(d) { return y(d.sol); });

                        // A line generator, for the dark stroke.
                        var line = d3.svg.line()
                            .interpolate("monotone")
                            .x(function(d) { return x(d.year); })
                            .y(function(d) { return y(d.sol); });

                        // Filter to one symbol;
                        var values = data.filter(function(d) {
                            return d.symbol == "Sum of Lights";
                        });

                        // Compute the minimum and maximum year, and the maximum sol.
                        x.domain([data[0].year, data[data.length - 1].year]);
                        y.domain([0, d3.max(data, function(d) { return d.sol; })]).nice();

                        // Add an SVG element with the desired dimensions and margin.
                        var svg = d3.select("#linechart-sol").append("svg")
                          .attr("width", width + margin.left + margin.right)
                          .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                          .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                          .on("click", click);

                        // Add the clip path.
                        svg.append("clipPath")
                          .attr("id", "clip")
                        .append("rect")
                          .attr("width", width)
                          .attr("height", height);

                        // Add the area path.
                        svg.append("path")
                          .attr("class", "area")
                          .attr("clip-path", "url(#clip)")
                          .attr("d", area(values));

                        // Add the x-axis.
                        svg.append("g")
                          .attr("class", "x axis")
                          .attr("transform", "translate(0," + height + ")")
                          .call(xAxis);

                        // Add the y-axis.
                        svg.append("g")
                          .attr("class", "y axis")
                          .attr("transform", "translate(" + width + ",0)")
                          .call(yAxis);

                        // Add the line path.
                        svg.append("path")
                          .attr("class", "line")
                          .attr("clip-path", "url(#clip)")
                          .attr("d", line(values));

                        // Add a small label for the symbol name.
                        svg.append("text")
                          .attr("x", width - 6)
                          .attr("y", height - 6)
                          .style("text-anchor", "end")
                          .text("Sum of Lights");

                        // On click, update the x-axis.
                        function click() {
                        var n = values.length - 1,
                            i = Math.floor(Math.random() * n / 2),
                            j = i + Math.floor(Math.random() * n / 2) + 1;
                        x.domain([values[i].year, values[j].year]);
                        var t = svg.transition().duration(750);
                        t.select(".x.axis").call(xAxis);
                        t.select(".area").attr("d", area(values));
                        t.select(".line").attr("d", line(values));
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        console.log("get country failed!");
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }
            // Event - On map click
            map.on("click",onMapClick);
        </script>
        

    </body>
</html>